{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block aboutactive %}active {% endblock aboutactive %}
{% block css %}{% endblock css %}
{% block body %}
<div class="jumbotron  ">
    <div class="container ">
      <h1 class="display-3 text-center py-5">About Us</h1>
      <div class="container bg-body-secondary  p-5 ">

          <p class="display-6 ">Whether sharing your expertise, breaking news, or whatever's on your mind, you're in good company on iCoder. Sign up to discover why millions of people have published their passions here.</p>
      </div>

      
    </div>
  </div>

{% endblock body %}
{% block js %}{% endblock js %}

