{% extends 'base.html' %}

{% block title %} Contact Us {% endblock title %}
{% block contactactive %}active{% endblock contactactive %}
{% block css %}{% endblock css %}
{% block body %}
<div class="container">
    <h1>Contact iCoder Admin </h1>
    <form action="/contact" method="post">{% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input required type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter Your Name">
          
        </div>
        <div class="mb-3">
          <label for="email1" class="form-label">Email address</label>
          <input required type="email" class="form-control" name="email" id="email1" aria-describedby="email1" placeholder="Enter Your E-mail">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input required type="phone" class="form-control" name="phone" id="phone" aria-describedby="name" placeholder="Enter Your Phone No">
          
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Describe Your Issue:</label>
          <textarea  required class="form-control" name="desc" name="desc" id="desc" cols="30" rows="5" placeholder="Describe Your Issue"></textarea>
          
        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}
{% block js %}{% endblock js %}



