{% extends 'base.html' %}

{% block title %} post-Home {% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block css %}{% endblock css %}
{% block body %}
{% load humanize %}
{% load extras %}

<div class="container my-2">
  <div class="col-md-8">




    <article class="blog-post">
      <h2 class="blog-post-title mb-1">{{post.title}}</h2>
      <p class="blog-post-meta">{{post.timestamp }} by <a href="/about">{{post.author}}</a>
      <span> ({{post.views}})</span></p>

      <p>{{post.content| safe}}</p>


    </article>



  </div>
</div>
<div class="container">
  <h2>Comments ({{comments.count}})</h2>
  <div class="my-2">
    {% if user.is_authenticated %}
    <form class="row g-3 " action="/blog/postComment" method="post">
      {% csrf_token %}
      <div class="col-8">
        <label for="Comment" class="form-label"> Post Your Comment here</label>
        <input type="text" name="comment" id="comment" placeholder="Enter Comments Here" class="form-control">
      </div>
      <div class="col-12">
        <button type="submit " class="btn btn-primary ">Post</button>
      </div>
      <input type="hidden" name="postId" value="{{post.id}}">
      <input type="hidden" name="parentId" value="">
    </form>
    {% else %}
    <p>
    <h5>Please Login to Post Comment </h5>
    </p>
    {% endif %}



  </div>
  {% for comment in comments %}
  <div class="row my-3">
    <div class="col-md-1 "><img class="img-thumbnail p-2" src=" /static/img/profile-picture.png " alt="User"></div>
    <div class="col-md-11 ">
      <b> {{comment.user.username}} </b> <span class="badge bg-secondary">{{comment.timestamp| naturaltime}}</span>
      <div>
        {{comment.comment|truncatechars:45}}
      </div>
      <div class="reply mx-0">
       {% if user.is_authenticated %}
       <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#reply{{forloop.counter}}" aria-expanded="false" aria-controls="reply">
         Reply
        </button>
        <div class="collapse" id="reply{{forloop.counter}}">
          <div class="card card-body my-2">
            <form class="row g-3 " action="/blog/postComment" method="post">
              {% csrf_token %}
              <div class="col-8">
                <label for="Comment" class="form-label"> Post a Reply</label>
                <input type="text" name="comment"  placeholder="Enter Comments Here" class="form-control">
              </div>
              <div class="col-12">
                <button type="submit " class="btn btn-primary ">Post</button>
              </div>
              <input type="hidden" name="postId" value="{{post.id}}">
              <input type="hidden" name="parentId" value="{{comment.id}}">
            </form>
            
          </div>
        </div>
        {% else %}
        <button class="btn btn-sm btn-primary" disabled  type="button" data-bs-toggle="collapse" data-bs-target="#reply{{forloop.counter}}" aria-expanded="false" aria-controls="reply">
         Log in to  Reply
         </button>
         

        {% endif %}
        
        
        <div class="replies  my-2">
          {% for reply in replydict|get_dict:comment.id %}
          <div class="row my-3">
            <div class="col-md-1 "><img class="img-thumbnail w-75 p-2" src=" /static/img/profile-picture.png " alt="User"></div>
            <div class="col-md-11 ">
              <b> {{reply.user.username}} </b> <span class="badge bg-secondary">{{reply.timestamp| naturaltime}}</span>
              <div>
                {{reply.comment|truncatechars:45}}
              </div>
            </div>
          </div>
         
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}
{% block js %}{% endblock js %}